@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 313 25% 21%; /* #44293E */
    --foreground: 240 3% 89%; /* #E1E1E3 */
    --card: 313 27% 13%; /* #2A1826 */
    --card-foreground: 240 3% 89%;
    --popover: 313 27% 13%;
    --popover-foreground: 240 3% 89%;
    --primary: 40 43% 82%; /* #DDD3C3 */
    --primary-foreground: 313 27% 13%; /* #2A1826 */
    --secondary: 40 43% 82%; /* #DDD3C3 */
    --secondary-foreground: 313 27% 13%; /* #2A1826 */
    --muted: 313 20% 24%;
    --muted-foreground: 300 6% 70%;
    --accent: 40 43% 82%; /* #DDD3C3 */
    --accent-foreground: 313 27% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 313 18% 30%;
    --input: 313 18% 30%;
    --ring: 40 43% 82%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 313 25% 21%; /* #44293E */
    --foreground: 240 3% 89%; /* #E1E1E3 */
    --card: 313 27% 13%; /* #2A1826 */
    --card-foreground: 240 3% 89%;
    --popover: 313 27% 13%;
    --popover-foreground: 240 3% 89%;
    --primary: 40 43% 82%;
    --primary-foreground: 313 27% 13%; /* #2A1826 */
    --secondary: 40 43% 82%;
    --secondary-foreground: 313 27% 13%; /* #2A1826 */
    --muted: 313 20% 24%;
    --muted-foreground: 300 6% 70%;
    --accent: 40 43% 82%;
    --accent-foreground: 313 27% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 313 18% 30%;
    --input: 313 18% 30%;
    --ring: 40 43% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
